#root {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Times New Roman", cursive;
}

.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #00FFFF; /* Neon blue */
  border-radius: 4px;
  max-width: 250px;
  background-color: black;
  color: #00FFFF; /* Neon blue */
}

.search-bar button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
  background-color: #10FFFF; /* Neon blue */
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0099CC; /* Darker neon blue */
}

h1 {
  font-size: 50px;
  color: #00FFFF; /* Neon blue */
  text-align: center;
}

@media (max-width: 600px) {
  .search-bar {
      flex-direction: column;
      align-items: center;
  }
  .search-bar input {
      margin-bottom: 10px;
  }
}
